{% extends "base.html" %}

{% block content %}
  <div class="list-group">
    <div class="list-group-item bg-info text-white font-weight-bold d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Профіль користувача</h4>
      <a href="{% url 'caera:profile-update' %}" class="btn btn-light btn-sm">Редагувати</a>
    </div>
    <div class="list-group-item"><strong>Псевдонім:</strong> {{ user.username }}</div>
    <div class="list-group-item"><strong>Пошта:</strong> {{ user.email }}</div>
    <div class="list-group-item"><strong>Ім’я:</strong> {{ user.first_name }}</div>
    <div class="list-group-item"><strong>Прізвище:</strong> {{ user.last_name }}</div>
    <div class="list-group-item"><strong>Дата приєднання:</strong> {{ user.date_joined|date:"d.m.Y H:i" }}</div>
    <div class="list-group-item"><strong>Останній вхід:</strong> {{ user.last_login|date:"d.m.Y H:i" }}</div>
    <div class="list-group-item">
      <strong>Адміністратор:</strong>
      {% if user.is_staff %}
        <span class="badge badge-success">Так</span>
      {% else %}
        <span class="badge badge-secondary">Ні</span>
      {% endif %}
    </div>
    <div class="card-footer text-right">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Вийти</button>
      </form>
    </div>
  </div>
{% endblock %}
