{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="list-group">
    <div class="list-group-item bg-info text-white font-weight-bold">
      Редагування профілю
    </div>

    <form method="post" class="w-100">
      {% csrf_token %}

      <div class="list-group-item">
        {{ form|crispy }}
      </div>

      <div class="card-footer text-right">
        <button type="submit" class="btn btn-primary">Зберегти</button>
      </div>
    </form>
  </div>
{% endblock %}
