body {
    margin-top: 20px;
}

div {
    display: block;
    /*vertical-align: baseline;*/
}

.link-to-page{
    float: right;
    margin: 2px;
}

.partition {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: #f6f8f9;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.tag {
    display: inline-block;
    background-color: #ccc;
    border-radius: 20px;
    padding: 4px 8px;
    margin-right: 4px;
}

.reviews {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    padding: 8px;
    margin-top: 10px;
}

.review_h2 {
    margin: 8px;
}

.question {
    margin: 8px 8px;
    padding: 8px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
}

.answer {
    margin: 8px 8px 8px 24px;
    padding: 8px;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
}

.comments {
    margin: 8px 8px;
    padding: 8px;
    border: 1px solid forestgreen;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.image_div {
    margin: 8px 8px;
    /*border: 1px solid;*/
    border-radius: 4px;
    height: 140px;
    width: 240px;
    overflow: hidden;
}

.image_detail {
    margin: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 182px;
    width: 312px;
    overflow: hidden;
    background-color: #fff;
}

.image_comment {
    margin: 8px 8px;
    border: 1px solid;
    border-radius: 4px;
    height: 125px;
    width: 220px;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info {
    margin: 8px 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-list {
    margin: 8px 8px;
    /*flex-grow: 1;*/
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
}

.reaction-forms {
  display: flex;
  gap: 15px; /* або margin-right, якщо gap не підтримується */
  align-items: center;
}

.comment-form {
    margin: 8px
}

.proposal-description {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: #f6f8f9;
    border-radius: 8px;
    padding: 16px;
    margin-top: 10px;
    color: #111;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.project-card {
    max-width: 312px;
}

.filters {
    display: flex;
    gap: 8px;
}
