{% extends "base.html" %}

{% block content %}
  <h2>
    Проєкти: <a href="{% url 'caera:proposal-detail' pk=proposal.id %}">{{ proposal.title }}</a>

    <a href="{% url 'caera:project-create' pk=proposal.id %}" class="btn btn-primary link-to-page">
      Створити новий
    </a>
  </h2>

  <hr>

  {% if project_list %}
    {% for project in project_list %}
      <div class="partition">
        {% if project.image %}
          <div class="image_div">
            <img class="image" src="{{ project.image.url }}" alt="Project image">
          </div>
        {% else %}
        {% endif %}
        <div class="info-list">
          від: {{ project.author }}

          <p>
            <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
          </p>

          <p>
            {% for tag in project.tags.all %}
              <div class="tag">
                {{ tag.name }}
              </div>
            {% endfor %}
          </p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Отакої ;( Немає ні одного проєкту</p>
  {% endif %}

{% endblock %}
