{% extends "base.html" %}

{% block content %}
  <h1>
    {{ proposal.title }}
    Проєкти
          <a href="{% url 'caera:project-create' pk=proposal.id %}" class="btn btn-primary link-to-page">
            Створити новий
          </a>
  </h1>

  <br>

  {% if project_list %}
    {% for project in project_list %}
      <div class="partition">
        {% if project.image %}
          <div class="image_div">
            <img class="image" src="{{ project.image.url }}" alt="Project image">
          </div>
        {% else %}
        {% endif %}
        <div class="info">
          <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
          <p>
            Tags:
            {% for tag in project.tags.all %}
              {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p>
            Author: {{ project.author }}
          </p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Отакої ;( Не створено ні одного проєкту</p>
  {% endif %}

{% endblock %}
