{% extends "base.html" %}

{% block content %}
  <div class="partition">
    {% if project.image %}
      <div class="image_detail">
        <img class="image" src="{{ project.image.url }}" alt="Project image">
      </div>
    {% else %}
    {% endif %}
    <div class="info">
      <h1>
        {{ project.title }}
        <a href="{% url 'caera:project-delete' pk=proposal.id project_pk=project.id %}"
           class="btn btn-danger link-to-page">
          Видалити
        </a>

        <a href="{% url 'caera:project-update' pk=proposal.id project_pk=project.id %}"
           class="btn btn-secondary link-to-page">
          Редагувати
        </a>
      </h1>

    </div>
  </div>

  <div class="proposal-description">
    {{ project.description }}
  </div>

  <div class="reviews">
    <h2 class="review_h2">
      Комментарі

      <a href="{% url 'caera:project-comment-create' pk=proposal.id project_pk=project.id %}" class="btn link-to-page"
         style="color: forestgreen">
        Комментувати
      </a>
    </h2>

    <hr>
    {% for comment in project.comments.all %}
      <div class="question">
        {{ comment.user.username }}

        <p>
          {{ comment.created_at }}
        </p>

        <p>
          {{ comment.text }}
        </p>

        {% if comment.user == request.user %}
          <div class="d-flex gap-2">
            <a href="{% url 'caera:project-comment-update' pk=proposal.id project_pk=project.id comment_pk=comment.id %}"
               class="btn btn-sm btn-outline-primary">Редагувати</a>
            <a href="{% url 'caera:project-comment-delete' pk=proposal.id project_pk=project.id comment_pk=comment.id %}"
               class="btn btn-sm btn-outline-danger">Видалити</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
