{% extends "base.html" %}

{% block content %}
  <div class="partition">
    {% if proposal.image %}
      <div class="image_detail">
        <img class="image" src="{{ proposal.image.url }}" alt="Proposal image">
      </div>
    {% else %}
    {% endif %}
    <div class="info">
      <h1>
        {{ proposal.title }}
        <a href="{% url 'caera:proposal-delete' pk=proposal.id %}" class="btn btn-danger link-to-page">
          Видалити
        </a>

        <a href="{% url 'caera:proposal-update' pk=proposal.id %}" class="btn btn-secondary link-to-page">
          Редагувати
        </a>
      </h1>

      <form method="post" action="{% url 'caera:proposal-like-toggle' pk=proposal.pk %}">
        {% csrf_token %}

        <button type="submit" name="value" value="like"
                class="btn {% if user_like and user_like.value == 'like' %}btn-success{% else %}btn-outline-success{% endif %}">
          👍 ({{ proposal.like_count }})
        </button>

        <button type="submit" name="value" value="dislike"
                class="btn {% if user_like and user_like.value == 'dislike' %}btn-danger{% else %}btn-outline-danger{% endif %}">
          👎 ({{ proposal.dislike_count }})
        </button>
      </form>

    </div>
  </div>

  <div class="proposal-description">
    {{ proposal.description }}
  </div>

  <div class="proposal-description">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Проєкти:</h5>
      <a href="{% url 'caera:project-list' pk=proposal.id %}" class="btn btn-outline-primary btn-sm">Подивитися всі</a>
    </div>

    <div class="d-flex flex-wrap gap-3">
      {% for project in proposal.projects.all %}
        <div class="project-card">
          <a href="{{ project.get_absolute_url }}">
            <div class="image_div">
              <img src="{{ project.image.url }}" alt="{{ project.title }}" class="image">
            </div>
          </a>
          <div class="text-muted mt-1 small">від: {{ project.author }}</div>
        </div>
        {% empty %}
        <p>Немає доступних проєктів.</p>
      {% endfor %}
    </div>
  </div>

  <div class="reviews">
    <h2 class="review_h2">
      Комментарі

      <a href="{% url 'caera:proposal-comment-create' pk=proposal.id %}" class="btn link-to-page"
         style="color: forestgreen">
        Комментувати
      </a>
    </h2>

    <hr>

    {% for comment in proposal.comments.all %}
      <div class="question">
        {{ comment.user.username }}

        <p>
          {{ comment.created_at }}
        </p>

        <p>
          {{ comment.text }}
        </p>

        {% if comment.user == request.user %}
          <div class="d-flex gap-2">
            <a href="{% url 'caera:proposal-comment-update' pk=proposal.pk comment_pk=comment.pk %}"
               class="btn btn-sm btn-outline-primary">Редагувати</a>
            <a href="{% url 'caera:proposal-comment-delete' pk=proposal.pk comment_pk=comment.pk %}"
               class="btn btn-sm btn-outline-danger">Видалити</a>
          </div>
        {% endif %}
      </div>

      {#        {% for answer in question.comments.all %}#}
      {#            <div class="answer">#}
      {#            {{ answer.user.username }}#}
      {#            <p style="color: rebeccapurple">#}
      {#              answer#}
      {#            </p>#}
      {##}
      {#            <p>#}
      {#              {{ answer.created_at }}#}
      {#            </p>#}
      {##}
      {#            <p>#}
      {#              {{ answer.text }}#}
      {#            </p>#}
      {#          </div>#}
      {#        {% endfor %}#}
    {% endfor %}

    {#      {% for comment in place.comments.all %}#}
    {#        {% if not comment.question %}#}
    {#          <div class="comments">#}
    {#            <div>#}
    {#              {{ comment.user.username }}#}
    {#              <p style="color: forestgreen">#}
    {#                comment#}
    {#              </p>#}
    {##}
    {#              <p>#}
    {#                {{ comment.created_at }}#}
    {#              </p>#}
    {##}
    {#              <p>#}
    {#                {{ comment.text }}#}
    {#              </p>#}
    {#            </div>#}
    {##}
    {#            {% if comment.media_url %}#}
    {#              <div class="image_comment">#}
    {#                <img class="image" src="{{ comment.media_url }}" alt="Comment media">#}
    {#              </div>#}
    {#            {% endif %}#}
    {#          </div>#}
    {#        {% endif %}#}
    {#      {% endfor %}#}
  </div>
{% endblock %}
