{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {#  <h1>#}
  {#    Proposal List#}
  {#      <a href="{% url 'city_guide:place-create' %}" class="btn btn-primary link-to-page">#}
  {#        Create#}
  {#      </a>#}
  {#  </h1>#}

  <div class="d-flex gap-2 mb-3">
    <form action="" method="get" class="form-inline d-flex gap-2 align-items-end">
      <div>
        {{ search_form.title|as_crispy_field }}
      </div>
      <div>
        {{ search_form.tags|as_crispy_field }}
      </div>
      <div>
        {{ search_form.city|as_crispy_field }}
      </div>
      <div>
        <input type="submit" value="Фільтрувати" class="btn btn-secondary">
      </div>
    </form>
  </div>
  <br>

  {% if proposal_list %}
    {% for proposal in proposal_list %}
      <div class="partition">
        <div class="image_div">
          <img class="image" src="{{ proposal.image_url }}" alt="Proposal image">
        </div>
        <div class="info">
          <a href="{% url "caera:proposal-detail" pk=proposal.id %}">{{ proposal.title }}</a>
          {#            <a href="{% url "city_guide:place-detail" pk=place.id %}">{{ proposal.title }}</a>#}
          <p>
            Tags:
            {% for tag in proposal.tags.all %}
              {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p>
            Author: {{ proposal.author }}
          </p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Отакої ;( Немає ні одної пропозиції</p>
  {% endif %}

{% endblock %}
